body{
    background-color: #b8e994;
}


#imagecss {
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 30px;
}

#headerSection{
    padding: 5px;   
}

#headerSection h1{
    font-family: Cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: #48dbfb;
    color: white;
    border-radius: 5px;
}